<!DOCTYPE html>
<html lang="en" style="margin:0; height:100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Inventory</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">    
    <script src="https://kit.fontawesome.com/d28bf72700.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="columns is-centered">
        <div class="column is-8" style="padding: 10rem 0px">
            <div class="box">
                <div class="notification is-primary">
                    <!-- ADD IN LOGIC FOR LOGIN FUNCTIONALITY!!! -->
                    <!-- <p class="title is-1" style="text-align:center">Let's Get to Work!</p> -->
                    <% if (isLoggedIn) { %>
                        <p class="title is-1" style="text-align:center">Let's Get to Work, <%= user.name %>!</p>
                    <% } else { %>
                        <p class="title is-1" style="text-align:center">Let's Get to Work!</p>
                    <% } %>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-8 is-parent">
                        <div class="tile is-child message is-primary">
                            <div class="message-body" style="height:100%">
                                <p class="title is-3 has-text-primary">A task inventory for homework, responsibilities, and more!</p> 
                                <p class="subtitle is-5" style="color:#00947e">Use this page to manage everything, because at least it looks better than Schoology.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-4 is-parent">
                        <div class="tile is-child message">
                            <div class="message-header">
                                <p>Task Peek</p>
                            </div>
                            <div class="message-body">
                                <% if (isLoggedIn) { %> 
                                    <p><strong><%= total %></strong> tasks are currently listed.</p>
                                    <p><strong><%= high %></strong> tasks are listed as high priority.</p>
                                <% } else { %> 
                                    <p>Please log in to see information about your current tasks.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (isLoggedIn) { %>
                    <div class="control" style="text-align:center">
                        <div class="buttons is-centered">     
                            <button onclick="location.href='/list'" type="button" class="button is-primary is-rounded">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-play"></i>
                                    </span>
                                    <span>Get Started!</span>
                                </span>
                            </button>
                            <button onclick="location.href='/logout'" type="button" class="button is-danger is-rounded">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </span>
                                    <span>Log Out</span>
                                </span>
                            </button>
                        </div>
                    </div>
                <% } else { %>
                    <div class="control" style="text-align:center">
                        <button onclick="location.href='/login'" type="button" class="button is-info is-rounded">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>
                                <span>Log In</span>
                            </span>
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>